.list-item {
  padding: 5px 0px;
  border-bottom: 1px solid #e1e1e1;
}

#conditions-container {
  position: relative;
}

#conditions-container .condition-number {
  font-size: 3em;
  color: #e1e1e1;
  position: absolute;
  z-index: -1;
}

#conditions-container .form-type-select, #conditions-container .form-type-textfield {
  padding-left: 40px;
}